<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Add Product</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Add Product</h1>
    <form action="#" th:action="@{/saveProduct}"  th:object="${productsRequest}" method="post">
        <div class="form-group">
            <label for="sku">SKU</label>
            <input type="number" th:field="*{sku}" id="sku" name="sku" class="form-control" required/>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" th:field="*{name}" id="name" name="name" class="form-control" required/>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" th:field="*{description}"  id="description" name="description" class="form-control" />
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <input type="text" th:field="*{category}"  id="category" name="category" class="form-control" />
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" th:field="*{price}"  id="price" name="price" class="form-control" required/>
        </div>
        <div class="form-group">
            <label for="manufacturer">Manufacturer</label>
            <input type="text" th:field="*{manufacturer}"  id="manufacturer" name="manufacturer" class="form-control" />
        </div>
        <div class="form-group">
            <label for="supplier">Supplier</label>
            <input type="text" th:field="*{supplier}" id="supplier" name="supplier" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Save Product</button>
        <hr>
        <a th:href="@{/}" class="btn btn-primary">Back Main Page</a>
    </form>
</div>
</body>
</html>