<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Employee</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Bienvenido a la Tienda de Productos</h1>

    <div class="row mt-5">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Agregar un Producto</h5>
                    <a th:href="@{/thymeleaf/addnewProduct}" class="btn btn-primary">Ir a Agregar Producto</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ver Productos</h5>
                    <a th:href="@{/thymeleaf/getAllProducts}" class="btn btn-primary">Ir a Ver Productos</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
